.top-bar{
	/*background-color: #337ab7;*/
	background-color: #0361cc;
	padding: 3px;
}

.my-menu{
	margin-top: 10px;
}
.my-menu .navbar-default{
		background: none;
		border: none;

}

.my-menu .navbar-nav .active a , .my-menu .navbar-nav .active a:hover{
		/*background-color: #337ab7;*/
		background-color: #0361cc;
		color: white;
		border-radius: 60px 60px 60px 60px;

}

.my-menu .navbar-nav li a:hover{
	/*background-color: #337ab7;*/
	background-color: #0361cc;
	color: white;
	border-radius: 100px 100px 100px 100px;

}
.my-menu .navbar-nav li a{
	margin-left: 3px
}
.logo-menu{
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.container {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.my-menu .navbar-nav li{
		border-radius: 60px 60px 60px 60px;
		/*background-color: green;*/
		padding: 0px;
		margin: 0px;

		font-weight: bold;
		color: #000000;
}

.concept{
	background-color: #0361cc;
  background-image: linear-gradient(-180deg, #0679fc 0%, #0361cc 90%);
	/*background-color: #0077CC;*/
	color: #fff;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1em;
	padding: 5px;
}

.categorie{
	color: #0361cc;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1.3em;
	padding: 5px;
}


/*
textarea {
	width: 60%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

} */
	/*background-color: #0077CC;*/

/* .concept{

	background-color: #0361cc;
    background-image: linear-gradient(-180deg, #0679fc 0%, #0361cc 90%);


	color: #fff;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1em;
	padding: 5px;
} */

/* Green */
/* .concept:hover {
	background-color: #4CAF50;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

article{

	background-color: #fff;
	border: 1px solid #c5c5c5;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.3);
}

article:hover{

	box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
}

article .title{
	margin-bottom: 0.5em;
	font-size: 2em;
}

article .title a{
	color: #000;
	text-decoration: none;
}

article .title a:hover{
	color: #007bff;
}

article .content{
	padding: 0.5em 0;
} */

/*background-color: #0077CC;*/

/* .categorie{


	color: #0361cc;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1.6em;
	padding: 5px;
}
div .info{
	margin-top: 20px;
	font : 20px Montserrat, sans-serif;
	color: #A699A6;
}

.icone-info{

} */
