{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

	{% block head %}


	{% endblock %}

	<title>{% block title %} ONTOLOGIA {% endblock %}</title>
</head>
<body>
	<div class="container-fluid">
		{% include 'ontologia/layouts/_nav.html' %}

		<div class="container">
			{% block content %} {% endblock %}
			{% include 'ontologia/layouts/_footer.html' %}
		</div>
	</div>
	

	{% block script %} 	{% endblock %}

	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
</body>
</html>